<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treinamento.mdomingos.startapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".utils.FirebaseConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_startaap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_startaap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.investidor.PerfilVisitadoInvestidorActivity" />
        <activity android:name=".activity.startup.PerfilVisitadoStartupActivity" />
        <activity android:name=".activity.startup.EnviaArquivosActivity" />
        <activity android:name=".activity.startup.EditarPerfilStartupActivity" />
        <activity android:name=".activity.startup.BioStartupActivity" />
        <activity android:name=".activity.login.CadastroLoginActivity" />
        <activity android:name=".activity.home.BaseFragmentStartup" />
        <activity android:name=".activity.investidor.EditarPerfilInvestidorActivity" />
        <activity android:name=".activity.startup.CadastroStartupActivity" />
        <activity android:name=".activity.investidor.CadastroInvestidorActivity" />
        <activity android:name=".activity.inicial.InicialActivity" />
        <activity android:name=".activity.home.BaseFragmentInvestidor" />
        <activity android:name=".activity.others.EnviandoEmailActivity" />
        <activity android:name=".activity.others.SlidesPosCadastroActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.others.TermosActivity" />
        <activity android:name=".activity.investidor.BioInvestidorActivity" />
        <activity android:name=".activity.others.SplashScrean">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>